<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Coffe Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <header>
        {% include "navs/main-nav.html" %}
    </header>

    <main class="flex justify-center w-full h-full p-20">
        <div class="flex flex-col w-full">
            {% block content %}
            {% endblock %}
        </div>
    </main>

</body>
</html>