<nav class="bg-white p-6 inline-flex items-center gap-2 w-full shadow-lg static">
    {#  brand  #}
    <a
        class="inline-flex flex-shrink items-center gap-2 hover:bg-zinc-200 rounded-md transition ease-in-out duration-300 px-3 py-1"
        href="{% url 'list_product' %}"
    >
        {% include "icons/cup.svg" %}
        <h3 class="font-bold text-md lg:text-xl text-black">PyCoffeShop</h3>
    </a>
    {#  links  #}
    <div class="w-full flex-grow inline-flex items-center justify-end gap-2">

        {#  products  #}
        <a
            class="inline-flex hover:bg-zinc-200 hover:shadow-sm rounded-md transition ease-in-out duration-300 px-3 py-1 font-medium text-md lg:text-lg text-slate-900"
            href="{% url 'list_product' %}"
        >
            Products
        </a>
        {#  my order  #}
        <a
            class="inline-flex hover:bg-zinc-200 hover:shadow-sm rounded-md transition ease-in-out duration-300 px-3 py-1 font-medium text-md lg:text-lg text-slate-900"
            href="{% url 'my_order' %}"
        >
            My order
        </a>
        {% if user.is_authenticated %}
            <!-- Profile dropdown -->
            <div class="relative">
                <div>
                    <button type="button"
                            class="relative inline-flex hover:bg-zinc-200 hover:shadow-sm rounded-md transition ease-in-out duration-300 px-3 py-1 font-medium text-md lg:text-lg text-slate-900"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true"
                            title="Click to open menu"
                    >
                        {{ user }}
                        <span class="relative flex h-2 w-2">
                          <span class="absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
                          <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"></span>
                        </span>
                    </button>
                </div>
                {% comment %} menu {% endcomment %}
                <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                     id="user-menu"
                     role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

                    <!-- My reviews -->
                    <a
                            href="{% url 'my_reviews' %}"
                            class="flex px-4 py-2 text-sm text-gray-700 hover:bg-zinc-200 hover:shadow-sm transition ease-in-out duration-300 w-full"
                            role="menuitem"
                            tabindex="-1"
                            id="user-menu-item-0"
                    >My reviews</a>
                    <!-- Your Profile -->
                    <a
                            href="#"
                            class="flex px-4 py-2 text-sm text-gray-700 hover:bg-zinc-200 hover:shadow-sm transition ease-in-out duration-300 w-full"
                            role="menuitem"
                            tabindex="-1"
                            id="user-menu-item-0"
                    >My Profile</a>
                    <!-- logout -->
                    <form
                            action="{% url "logout" %}"
                            method="post"
                    >
                        {% csrf_token %}
                        <button
                                type="submit"
                                class="flex px-4 py-2 text-sm text-gray-700 hover:bg-zinc-200 hover:shadow-sm transition ease-in-out duration-300 w-full"
                                role="menuitem"
                                tabindex="-1"
                        >
                            Sign out
                        </button>
                    </form>
                </div>
            </div>

        {% else %}
            {#  register  #}
            <a
                class="inline-flex hover:bg-zinc-200 hover:shadow-sm rounded-md transition ease-in-out duration-300 px-3 py-1 font-medium text-md lg:text-lg text-slate-900"
                href="{% url 'register' %}"
            >
                Sign up
            </a>
            {#  login  #}
            <a
                class="inline-flex hover:bg-zinc-200 hover:shadow-sm rounded-md transition ease-in-out duration-300 px-3 py-1 font-medium text-md lg:text-lg text-slate-900"
                href="{% url 'login' %}"
            >
                Login
            </a>
        {% endif %}
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuButton = document.getElementById('user-menu-button');
        const menu = document.getElementById('user-menu');

        // Event listener for the button click
        menuButton.addEventListener('click', function () {
            const isMenuOpen = menu.classList.contains('hidden');
            if (isMenuOpen) {
                menu.classList.remove('hidden');
                menuButton.setAttribute('aria-expanded', 'true');
            } else {
                menu.classList.add('hidden');
                menuButton.setAttribute('aria-expanded', 'false');
            }
        });

        // Close the menu if clicked outside
        document.addEventListener('click', function (event) {
            if (!menuButton.contains(event.target) && !menu.contains(event.target)) {
                menu.classList.add('hidden');
                menuButton.setAttribute('aria-expanded', 'false');
            }
        });
    });
</script>