{% extends "layouts/base.html" %}

{% block title %}Login{% endblock title%}

{% block content %}

    <div class="container mx-auto w-1/3">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Log In</h1>
        <form method="POST">
            {% csrf_token %}
            <section class="flex flex-col items-start justify-between gap-3 mt-6">
                {% for field in form %}
                        <div class="flex flex-col w-full">
                            <label
                                    class="font-semibold text-gray-900 text-md"
                                    for="{{ field.id_for_label }}"
                            >
                                {{ field.label_tag }}
                            </label>
                            <input
                                    type="{{ field.widget_type }}"
                                    name="{{ field.html_name }}"
                                    class="font-normal text-md text-slate-800 p-1 border border-black rounded-sm w-full"
                                    placeholder="Tipe your {{ field.label }}"
                            >
                            {% if field.help_text %}
                                <span class="font-normal text-gray-700 text-xs">{{ field.help_text }}</span>
                            {% endif %}
                            {% for error in field.errors %}
                                <span class="font-normal text-red-700 text-xs">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% include "components/buttons/common_button.html" with type="submit" name="Login" %}
            </section>
        </form>
        <p class="text-center text-sm text-gray-500 mt-4">
        You don't have an account?
        <a class="underline" href="{% url "register" %}">Sign Up</a>
    </p>
    </div>

{% endblock content %}