{% extends 'layouts/base.html' %}

{% block title %}{{ product.name }} | Product Info{% endblock %}

{% block content %}
    <div class="container mx-auto w-1/3 p-6 w-max">

        {#  section title  #}
        <h1 class="font-bold text-4xl pb-4 border-b border-gray-500 w-full mb-8">Product Info</h1>

        {#  product info  #}
        <article class="flex flex-col lg:flex-row gap-6 items-start justify-stretch w-full">
            <img
                src="{{ product.photo.url }}"
                alt="{{ product.name }}"
                class="h-72 w-auto object-cover transition duration-500 hover:scale-105 sm:h-72 rounded-sm shadow-sm"
            >
            <article class="flex flex-col gap-4 w-96 h-72 items-start justify-stretch">
                <header class="flex flex-col gap-3 grow">
                    <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">{{ product.name }}</h1>
                    {% if product.description %}
                        <p class="font-normal text-lg text-gray-700">{{ product.description }}</p>
                    {% endif %}
                </header>
                <footer class="flex items-center justify-between w-full">
                    <h3 class="font-semibold text-black text-xl justify-self-start">${{ product.price }}</h3>
                    {% if product.productrating_set.count > 0 %}
                        <div class="flex items-center gap-1">
                            <span class="font-bold text-lg text-slate-700 italic">{{ product.get_avg_rating }}</span>
                            {% include "icons/star_filled.svg" %}
                        </div>
                    {% else %}
                    	<span class="font-bold text-lg text-indigo-700 italic">No rating yet</span></span>
                    {% endif %} 
                </footer>
            </article>
        </article>

        {#  rate  #}
        <div class="flex flex-col mt-8 gap-2">
            {#  section title  #}
            <h1 class="font-bold text-4xl pb-4 border-b border-gray-500 w-full mb-8">Rate this product</h1>
            <p class="font-normal text-gray-700 text-md lg:text-lg">For us is important to know your opinion. Please rate it.</p>

            {% if product.available and user.is_authenticated %}
                {% include "products/add_product_rating.html" with product=product %}
            {% else %}
                <p class="font-semibold text-md text-black-700 text-center italic">Login to add rating:
                    <a
                        href="{% url 'login' %}"
                        title="Login"
                        class="text-indigo-600 underline"
                    >Go</a>
                </p>
            {% endif %}
        </div>

        {#  reviews  #}
        {% include "products/list_product_ratings.html" with product_ratings=product.productrating_set.all %}

    </div>
{% endblock %}
